.vx-PagesCallCustomerTalkAnaysis-talk {
  & .progress {
    margin-bottom: 0px;
  }

  & tr.footer {
    font-weight: bold;
  }
}

.vx-PagesCallCustomerTalkAnaysis-table {
  margin-top: -1rem !important;
}