.vx-PagesNewCallCreate-form {
  margin: 0 !important;

  & .label {
    line-height: 2.5em;
    text-align: right;
  }

  & .column {
    padding: 0rem 0.5rem !important;
  }

  & .row {
    padding: 0.5rem 0rem !important;
  }
}